*.log
pids
*.pid
*.seed
lib-cov
coverage
build/Release
node_modules
.lock-wscript
/public/
dist/
.idea
.history
.env
app/db/config/config.json
\npm-debug*
temp/*
.DS_Store
.vscode
.history
.queues
tmp
package-lock.json
my_database.db
